@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

body
{
	background: url('mathpaper.png') repeat;*/
	background-size: cover;
	font-family: 'Open Sans', Verdana, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	color: black;
	z-index: 1;
}

div#container
{
	width: 100%;
	height: 100%;
}

.wrapper
{
	margin-left: 100px;z
}

header
{
	background: maroon;
	padding: 50px;
	padding-left: 0px;
	border-bottom: 1px solid black;
}

div#header-left
{
	float: left;
	width: 100%;
}

#header-right
{
	float: right;
	width: 00%;
	text-align: right;
}

header h1
{
	font-size: 22px;
	float: left;
	margin: 0px;
	color: white;
}

h1 a
{
	color: white;
	text-decoration: none;
}

h2
{
	float: left;
	font-size: 22px;
	font-weight: 700;
	color: silver;
	margin: 0px;
	margin-left: 10px;
}

nav
{
	margin-top: 5px;
}

nav a
{
	font-size: 13px;
	color: silver;
	text-decoration: none;
	margin-right: 20px;
}

nav a:hover
{
	color: white;
}

blockquote
{
	font-size: 18px;
	font-family: Georgia;
	font-style: italic;
	color: gray;
	border-left: 3px solid silver;
	padding-left: 10px;
	margin: 0px;
}

section
{
	margin-top: 50px;
	width: 850px;
	/*width: 60%;*/
	background: white;
	padding: 30px;
	padding-right: 50px;
	padding-left: 0px;
	margin-bottom: 100px;
	opacity: 0.9;
}

section strong
{
	font-size: 14px;
}

section a
{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

section a:hover
{
	text-decoration: underline;
}

section h1
{
	float: none;
	font-size: 18px;
	border-bottom: 1px solid silver;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

section h2
{
	float: none;
	color: black;
	font-size: 16px;
	margin: 0px;
}

hr
{
	border: 0;
    height: 1px;
    background: silver;
    margin-top: 30px;
    margin-bottom: 30px;
}

table
{
	border-width: 1px;
	border-color: silver;
	border-collapse: collapse;

}

table th
{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: silver;
	background-color: #dedede;
}

table td
{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: silver;
	background-color: #ffffff;
}

pre
{
  margin: 20 0px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

div#homepage a
{
	display: block;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 10px;
	background-position: 2% 50%;
	background-repeat: no-repeat;
}

div#homepage a span
{
	margin-left: 50px;
}

div#homepage a:hover
{
	background: #eee;
	background-position: 2% 50%;
	background-repeat: no-repeat;
	text-decoration: none;
}

div#homepage a#link-about
{
	background-image: url(about.svg);
}

div#homepage a#link-research
{
	background-image: url(research.svg);
}

div#homepage a#link-teaching
{
	background-image: url(teaching.svg);
}

div#homepage a#link-projects
{
	background-image: url(projects.svg);
}

div#homepage a#link-contact
{
	background-image: url(contact.svg);
}

div#homepage a#link-writing
{
	background-image: url(writing.svg);
}

div#homepage a#link-services
{
	background-image: url(services.svg);
}

div#homepage a#link-gallery
{
	background-image: url(photos.svg)
}

div.browser-warning.ie6
{
	background: red;
	margin: 0 auto;
	width: 70%;
	padding: 20px;
}

div.browser-warning.ie6 strong
{
	display: block;
}