<!DOCTYPE html>
<html>
	<head>
		<title>Chris Atkin | {{ page.title }}</title>
		<!--<base href="http://chrisatk.in"/>-->
		<base href="http://localhost:4000/" />
		<style>@import url(assets/styles.css);</style>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
	</head>
	
	<body><div id="container">
		<header><div class="wrapper">
			<div id="header-left">
				<h1><a href="index.html">Chris Atkin</a></h1><!--<h2>Computer Scientist</h2>-->
				<div style="clear: both"></div>
				<nav>
					<a href="about-me.html">About Me</a>
					<a href="research-and-teaching">Research &amp; Teaching</a>
					<a href="projects">Projects</a>
					<a href="articles">Articles &amp; Blog</a>
					<a href="contact.html">Contact</a>
				</nav>
			</div>
			<div id="header-right">
				<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
        	</div>
        	<div style="clear: both"></div>
		</div></header>

		<!--[if IE 6]><div class="browser-warning ie6"><strong>Internet Explorer 6 detected!</strong>Sorry, but it was too much effort to get this working in IE6. Please switch to a much better browser like Firefox, Chrome, Safari, Opera, Konqueror, OmniWeb... (IE9+ would also be acceptable)</div><![endif]-->

		<section><div class="wrapper">
			{{ content }}
		</div></div>


	</div>



</body>
</html>